footer {
  height: 200px;
  @include tab {
    height: 140px;
  }
  @include sp {
    height: 80px;
    line-height: 80px;
    .txts {
      margin: 0;
      line-height: 2rem;
      padding-top: 10px;
    }
  }
}
