#function {
  background-color: #f6f6f6;
}
.function-item {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  @include tab {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 50%;
    object-fit: cover;
    @include tab {
      align-items: center;
      display: block;
      order: -1;
    }
  }
}

.item-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  position: relative;
  @include tab {
    margin: 0 auto;
    width: 90%;
  }
}
