#function {
  background-color: #f6f6f6;
}
.function-item {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  @include tab {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 50%;
    object-fit: cover;
    @include tab {
      align-items: center;
      display: block;
      order: -1;
    }
  }
}

.item-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  position: relative;
  @include tab {
    margin: 0 auto;
    width: 90%;
  }
}

.nm {
  background-color: #b3de49;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  padding: 0 30px;
  @include tab {
    width: 40px;
    height: 40px;
    padding: 0 16px;
    font-size: 1.5rem;
  }
  &1 {
    left: -65%;
    top: 18%;
    @include tab {
      top: -62%;
      left: 14%;
    }
  }
  &2 {
    top: -3%;
    left: 113%;
    @include tab {
      top: -111%;
      left: 16%;
    }
  }
  &3 {
    top: -5%;
    left: -34%;
    @include tab {
      top: -136%;
      left: 17%;
    }
  }
  &4 {
    top: -6%;
    left: 115%;
    @include tab {
      top: -110%;
      left: 16%;
    }
  }
}
