header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 100px;
  line-height: 100px;
  @include tab {
    height: 70px;
    line-height: 70px;
  }
  @include sp {
    height: 60px;
    line-height: 60px;
  }
}
.nav {
  display: flex;
  justify-content: space-around;
  margin-right: 50px;
  z-index: 100;

  @include sp {
    width: 100%;
    display: block;
    position: absolute;
    background-color: #fff;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    transition: all 0.3s;
    &.active {
      transform: translate(0);
    }
    &-item {
      width: 100%;
      padding: 15px;
      border-bottom: 1px solid #efefef;
      position: relative;
    }
  }
}
.nav-button {
  display: none;
}
@include sp {
  .nav-button {
    display: block;
    width: 44px;
    height: 44px;
    border: none;
    background: none;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;

    &::before {
      content: "";
      width: 30px;
      height: 3px;
      background-color: black;
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translate(-50%);
      transition: all 0.3s;
    }
    span {
      content: "";
      display: block;
      width: 30px;
      height: 3px;
      background-color: black;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s;
    }

    &::after {
      content: "";
      width: 30px;
      height: 3px;
      background-color: black;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translate(-50%);
      transition: all 0.3s;
    }
    &.active {
      span {
        display: none;
      }
      &:before {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:after {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}
li {
  margin-left: 20px;
  font-size: 2rem;
  &:first-child {
    margin: 0;
  }
  &:hover {
    opacity: 0.4;
  }
}
.header-logo {
  margin-left: 30px;
  font-size: 3rem;
  font-weight: bold;
  color: #00822f;
  @include tab {
    font-size: 2rem;
  }
  @include sp {
    font-size: 1.4rem;
  }
}
