.invite {
  background-color: #e9f8ce;
  display: flex;
  align-items: center;
  height: 50vh;
  &-box {
    width: 60%;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8%;

    .txtm {
      margin: 0;
      font-size: 2rem;
    }
  }
}
